.DS_Store
.idea
.env
tmp
result
node_modules
bin
*.iml
Generated
dist
dist-newstyle
*.dyn_hi
*.dyn_o
*.hi
*.o
build
gen
del
static/prod.*
Config/client_session_key.aes

# Ignore locally checked out IHP version
IHP

# devenv.sh
.devenv*
devenv.local.nix
.direnv
